*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root{
  --primary-color: #B68C5A;
  --p-font:"Outfit", sans-serif;
}

header{
  max-width: 80%;
  margin: 0 auto;
}

main{
  max-width: 80%;
  margin: 0 auto;
}

section{
  margin: 100px 0;
}

.heading{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.heading h2{
  font-size: 2rem;
  margin-bottom: 12px;
  font-weight: bold;
}

.heading p{
  font-family: var(--p-font);
  line-height: 1.4;
}

/* -----------navber--------- */

nav{
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
}

.logo img{
  width: 150px;
}

.nav_menu{
  display: flex;
  gap: 30px;
}

.nav_menu li{
  display: flex;
  align-items: center;
  font-family: var(--p-font);
  gap: 2px;
  cursor: pointer;
}

.nav_menu li a{
  color: rgb(34, 34, 34);
  font-weight: 400;
}

.primary_btn{
  padding: 12px 26px;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  font-size: 1rem;
  font-family: var(--p-font);
  cursor: pointer;
}

/* ----------Banner Section-------- */

.banner{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../images/banner.png);
  background-position: center;
  background-size: 1100px;
  background-repeat: no-repeat;
  border-radius: 7px;
  position: relative;
}

.banner_content{
  position: absolute;
  z-index: 100;
}

.banner_content h1{
  font-size: 4rem;
  color: white;
}

.banner_content p{
  color: white;
  font-family: var(--p-font);
  font-weight: 300;
  margin: 20px 0;
  line-height: 1.4;
}

.banner_form{
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.banner_form input[type="search"]{
  padding: 13px 20px;
  border: none;
  width: 400px;
  border-radius: 6px;
  outline: none;
}

.banner_bg{
  width: 100%;
  height: 80vh;
  background-color: black;
  position: absolute;
  border-radius: 7px;
  opacity: 45%;
}

/* ------------Legal Practise area section------------ */

.lp_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 50px;
}

.lp_items{
  padding: 50px 60px;
  transition: .8s;
  cursor: pointer;
}

.lp_items:hover{
  background: linear-gradient(#F3F3F3, white);
}

.lp_items p{
  font-family: var(--p-font);
  font-size: .9rem;
  margin: 20px 0;
  line-height: 1.3;
}

.lp_items h4{
  font-size: 1.5rem;
  margin-top: 20px;
}

.lp_icon{
  width: 60px;
  height: 60px;
}

.lp_icon2{
  width: 30px;
}

.lp1{
  border-bottom: 1px solid rgb(192, 192, 192);
}

.lp2{
  border: 1px solid rgb(192, 192, 192);
  border-top: none;
}

.lp3{
  border-bottom: 1px solid rgb(192, 192, 192);
}

.lp5{
  border: 1px solid rgb(192, 192, 192);
  border-top: none;
  border-bottom: none;
}

/* --------------------What Our Client Say---------------- */

.cs_container{
  width: 100%;
  height: 80vh;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../images/case1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px;
  position: relative;
  margin-top: 40px;
}

.cs_content{
  position: absolute;
  z-index: 100;
  width: 66%;
  margin: 0 auto;
}

.cs_content h4{
  color: white;
  margin: 20px 0 5px;
  font-size: 1.2rem;
}

#c-title{
  color: white;
  font-family: var(--p-font);
}

#c-description{
  color: white;
  font-family: var(--p-font);
  margin: 40px 0;
  font-size: .9rem;
  line-height: 1.5;
}

.cs_content img{
  cursor: pointer;
}

.cs_banner_bg{
  width: 100%;
  height: 80vh;
  background-color: black;
  position: absolute;
  border-radius: 7px;
  opacity: 50%;
}

.cs_btn_left{
  position: absolute;
  left: 30px;
  cursor: pointer;
}

.cs_btn_right{
  position: absolute;
  right: 30px;
  cursor: pointer;
}

/* ------------FAQ SECTION------------- */

.faq{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 2rem; */
  margin-top: 60px;
}

.faq_box{
  background-color:#F3F3F3;
  margin: 20px 0;
  padding: 20px 25px 20px 18px;
  border-radius: 7px;
  cursor: pointer;
}

.faq_box h4{
  font-size: 1.2rem;
}

.faq_box p{
  font-size: .9rem;
  margin-top: 20px;
  font-family: var(--p-font);
  padding-right: 35px;
  line-height: 1.5;
}

.faq_left{
  width: 45%;
}

.faq_q{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.faq_right{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.faq_right img{
  width: 100%;
  max-width: 500px;
}

/* -----------contact us section------------ */

.contact_container{
  display: flex;
  margin-top: 40px;
  gap: 1.5rem;
}

.contact_left{
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.contact_item{
  background-color: #F3F3F3;
  padding: 60px 40px;
  text-align: center;
  box-sizing: content-box;
}

.contact_item h4{
  font-size: 1.3rem;
  margin: 8px;
}

.contact_item p{
  font-family: var(--p-font);
  font-size: .9rem;
  line-height: 1.5;
  color: #707070;
}

.c1{
  border: 1px solid #CFCFCF;
  border-top: none;
  border-left: none;
}

.c2{
  border-bottom: 1px solid #CFCFCF;
}

.c3{
  border-right: 1px solid #CFCFCF;
}

.contact_right{
  width: 50%;
}

.contact_right input, textarea{
  width: 100%;
  background-color: #F3F3F3;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 7px;
  font-family: var(--p-font);
}

.contact_right textarea{
  height: 200px;
}

.form_btn{
  width: 100%;
  display: block;
}