*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root{
  --primary-color: #B68C5A;
  --p-font:"Outfit", sans-serif;
}

header{
  max-width: 80%;
  margin: 0 auto;
}

.logo img{
  width: 150px;
  cursor: pointer;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}

.nav_menu{
  display: flex;
  gap: 30px;
}

.nav_menu li{
  display: flex;
  align-items: center;
  font-family: var(--p-font);
  gap: 2px;
  cursor: pointer;
}

.nav_menu li a{
  color: rgb(34, 34, 34);
  font-weight: 400;
}

.nav_btn button{
  padding: 12px 26px;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  font-size: 1rem;
  font-family: var(--p-font);
  cursor: pointer;
}